@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background: #030303;
}
.navbar{
  background: #1A1A1B;
  display: flex;
  color: #fff;
  height: 3.25rem;
  border-bottom: 1px solid #2d2e2f;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo img{
  margin-left: 1.25rem;
  margin-top: 0.25rem;
  height: 3.75rem;
}
.navbar-search{
  height: 75%;
  width: 25%;
  border-radius: 6px;
  background: #272729;
  padding: 0.5vw;
  display: flex;
}
.navbar-search:hover{
  border: 1px solid #fff;
}
.search-input{
  font-size: 0.9rem;
  background: #272729;
  height: 100%;
  border: none;
  outline: none;
  color: #fff;
}
.search-icon{
  padding-left: 0.75vw;
  padding-right: 0.5vw;
}
.icons{
  display: flex;
}
.icon img{
  width: 1.9rem;
  height: 1.9rem;
  margin: 0.5vw;
}
.icon:hover{
  background: #2d2e2f;
}
.karma{
  width: 1rem;
  margin-top: 0.4vw;
}
.profile-section{
  display: flex;
  margin-right: 1.25vw;
  font-size: 0.85rem;
  align-items: center;
}
.profile-section:hover{
  background: #2d2e2f;
}